{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('Cart') }}
{% endblock %}


{% block body %}
    <div class="container"><h1>Your Cart</h1></div>

    {% if items |length > 0 %}
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th class="center">Product</th>
                    <th></th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}

                <tr>
                    <td><a class="btn" href="{{ path('cart_remove', {'id': item.ingredient.id}) }}"><i class="fas fa-trash"></i></a></td>
                    <td classe="image"><img src="/pictures/{{ item.ingredient.picture }}" alt="{{ item.ingredient.picture }}" ></td>
                    <td class="name">{{ item.ingredient.name }}</td>
                    <td class="price">{{ item.ingredient.price }}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ingredient.price * item.quantity }}€</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price">Total:</td>
                <td class="price">{{ total }}€</td>
            </tr>
            </tfoot>
        </table>
        </div>
    {% else %}
        <h2 class="center">Your cart is empty</h2>
    {% endif %}







{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('Cart') }}
{% endblock %}