{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="center"><h1>YOUR CART</h1></div>

    {% if items |length > 0 %}
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}

                <tr>
                    <td><img src="/pictures/{{ item.ingredient.picture }}" alt="{{ item.ingredient.picture }}" ></td>
                    <td>{{ item.ingredient.name }}</td>
                    <td>{{ item.ingredient.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ingredient.price * item.quantity }}</td>
                    <td><a class="btn" href="{{ path('cart_remove', {'id': item.ingredient.id}) }}"><i class="fas fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td>{{ total }}</td>
            </tr>
            </tfoot>
        </table>
        </div>
    {% else %}
        <h2 class="center">YOUR CART IS EMPTY</h2>
    {% endif %}







{% endblock %}
