{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('Cart') }}
{% endblock %}


{% block body %}
    <div class="container">

    {% if items |length > 0 %}
        <h1 class="center">Your Cart</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th class="center">Product</th>
                        <th></th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}

                <tr>
                    <td><img class="cartImg" src="{{ item.ingredient.picture }}" alt="{{ item.ingredient.picture }}" ></td>
                    <td class="name"><a href="{{ path('ingredients_show', {'id': item.ingredient.id}) }}">{{ item.ingredient.name }}</a></td>
                    <td class="price">{{ item.ingredient.price }}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ingredient.price * item.quantity }}€</td>
                    <td><a class="btn cross" href="{{ path('cart_remove', {'id': item.ingredient.id}) }}"><i class="fas fa-times fa-3x"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="price">Total:</td>
                <td class="price">{{ total }}€</td>
            </tr>
            </tfoot>
        </table>
            <div class="lowBtns right">
                <a class="clear" href="{{ path('cart_remove_all')}}"><i class="fas fa-trash"></i>Clear All</a>
                <a class="buy" href="{{ path('cart_validate')}}"><i class="fas fa-check"></i> OK</a>
            </div>
        </div>

    {% else %}
        <h2 class="center">Your cart is empty for now.</h2>
    {% endif %}
    </div>






{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('Cart') }}
{% endblock %}