{% extends 'base.html.twig' %}

{% block title %}Validate{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('Cart') }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="center">
            <h1 class="">Order Summary</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.ingredient.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ingredient.price }}€</td>
                    <td>{{ item.ingredient.price * item.quantity }}€</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="price">Total:</td>
                <td class="price">{{ total }}€</td>
            </tr>
            </tfoot>
        </table>
        <section>
            {{ form_start(validateCartForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.first_name, {'attr': {'value': user.firstname }}) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.last_name, {'attr': {'value': user.lastname }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.email, {'attr': {'value': user.email }}) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.zip_code, {'attr': {'value': user.zipcode }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.city, {'attr': {'value': user.city }}) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_row(validateCartForm.address, {'attr': {'value': user.address }}) }}
                    </div>
                </div>
                <div class="right">
                    <button class="validate" type="submit">Validate</button>
                </div>
            {{ form_end(validateCartForm) }}
        </section>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('Cart') }}
{% endblock %}