{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ContactM') }}
{% endblock %}

{% block body %}
    <div class="center">
        <img src="{{ asset('pictures/map.png') }}" alt="{{ asset('pictures/map.png') }}">
    </div>

    <div class="row">
        <div class="col s12 m1"></div>
        <div class="col s12 m4">
            <h1>Contact Us</h1>
            <p>Sit non faucibus sit eget congue quis nulla. Pellentesque nibh varius pretium in mattis.
                Amet diam laoreet quam semper. Nisi est faucibus rhoncus fusce sodales nunc. Magna.</p>
            <div class="contactbox row">
                <div class="col s2"><i class="fa fa-map-marker fa-4x"></i> </div>
                <div class="col s10"><p>Adress: <br> Magna pulvinar tincidunt in sit. Mi aliquam amet dignissim.</p></div>
            </div>
            <div class="contactbox row">
                <div class="col s2"><i class="fa fa-mobile-alt fa-4x"></i> </div>
                <div class="col s10"><p>Phone: <br> +44 121 496 0665</p></div>
            </div>
            <div class="contactbox row">
                <div class="col s2"><i class="fa fa-envelope fa-4x"></i> </div>
                <div class="col s10"><p>Email: <br> dave.loper@mealwith.com</p></div>
            </div>
        </div>
        <div class="col s12 m2"></div>


        <div class="col s12 m4">
            <h1>Leave A Comment</h1>
            <p>Our staff will call back later and answer your questions.</p>

            {{ form_start(contactForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(contactForm) }}
            </div>

            <div class="row">
                <div class="col s12 m6">
                    {{ form_row(contactForm.first_name) }}
                </div>
                <div class="col s12 m6">
                    {{ form_row(contactForm.last_name) }}
                </div>
            </div>
            <div class="">
                {{ form_row(contactForm.email) }}
            </div>
            <div class="">
                {{ form_row(contactForm.object) }}
            </div>
            <div class="">
                {{ form_row(contactForm.message) }}
            </div>
            <div class="center">
                {{ form_row(contactForm.post_comment) }}
            </div>
            {{ form_end(contactForm) }}
        </div>
        <div class="col s12 m1"></div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('ContactM') }}
{% endblock %}