<h1>Comment</h1>
<p>First Name : {{ contact.first_name }}</p>
<p>Last Name : {{ contact.last_name }}</p>
<p>Email : {{ contact.email }}</p>
<p>Objet : {{ contact.object }}</p>
<p>Message : {{ contact.message }}</p>