<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meal With{% endblock %}</title>
    {{ encore_entry_link_tags('base') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>

    <div class="row">
        <a class="col" id="appTitle" href="{{ path('home') }}"><img src="{{ asset('pictures/Logo.svg') }}">MealsWith</a>
        <a class="col s2 right " href=""><i class="far fa-user-circle fa-2x"></i>My account</a>
        <a class="col s2 right" href=""><i class="fas fa-shopping-cart fa-2x"></i>My cart</a>
    </div>

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="row hide-on-med-and-down">
                <li class="col"></li>
                <li class="col"><a href="{{ path('recipes_index') }}" >Recipes</a></li>
                <li class="col"><a href="{{ path('ingredients_menu') }}">Ingredients</a></li>
                <li class="col right"><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>

{% block body %}{% endblock %}

{{ encore_entry_script_tags('base') }}

</body>
</html>