<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meal With{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('base') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
    {% block inscription %}{% endblock %}

    <div class="row">
        <a class="col meal" id="appTitle" href="{{ path('home') }}"><img src="{{ asset('pictures/Logo.svg') }}">MealsWith</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class='col s2 right my' href='{{ path('logout') }}'><i class="fas fa-sign-out-alt fa-2x"></i>Logout</a>
        {% else %}
            <a class="col s2 right my" href="{{ path('login') }}"><i class="fas fa-user-plus fa-2x"></i>Connexion</a>
            <a class="col s2 right my" href="{{ path('register') }}"><i class="fas fa-user-circle fa-2x"></i>Inscription</a>
        {% endif %}

        <a class="col s2 right my" href="{{ path('cart') }}"><i class="fas fa-shopping-cart fa-2x"></i>My cart</a>
    </div>

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="row hide-on-med-and-down">
                <li class="col"></li>
                <li class="col"><a href="{{ path('recipes_index') }}" >Recipes</a></li>
                <li class="col"><a href="{{ path('ingredients_index') }}">Ingredients</a></li>
                <li class="col right"><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>

{% block body %}{% endblock %}

{{ encore_entry_script_tags('base') }}

{% block javascripts %}{% endblock %}

</body>
</html>
