<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meal With{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('base') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
    {% block inscription %}{% endblock %}

    <div class="row">
        <a class="col meal" id="appTitle" href="{{ path('home') }}"><img src="{{ asset('pictures/Logo.svg') }}">MealsWith</a>
        <a class="col s2 right modal-trigger my" href="#modalInscription"><i class="far fa-user-circle fa-2x"></i>My account</a>
        <!-- Modal Structure -->
        <div id="modalInscription" class="modal">
            <div class="modal-content">
                <h4>Inscription</h4>
                <p>A bunch of text</p>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

        <div id="modalConnexion" class="modal">
            <div class="modal-content">
                <h4>Connexion</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

        <a class="col s2 right my" href="{{ path('cart') }}"><i class="fas fa-shopping-cart fa-2x"></i>My cart</a>
    </div>

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="row hide-on-med-and-down">
                <li class="col"></li>
                <li class="col"><a href="{{ path('recipes_index') }}" >Recipes</a></li>
                <li class="col"><a href="{{ path('ingredients_index') }}">Ingredients</a></li>
                <li class="col right"><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>

{% block body %}{% endblock %}

{{ encore_entry_script_tags('base') }}

{% block javascripts %}{% endblock %}

</body>
</html>
