<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meal With{% endblock %}</title>
    <link rel="icon" href="/pictures/hamburger.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('base') }}
    {% block stylesheets %}

    {% endblock %}
</head>

<body>
    <main>
        <div id="topbar">
            <a id="appTitle" href="{{ path('home') }}"><img src="{{ asset('pictures/Logo.svg') }}"><span id="textTitle">MealWith</span></a>

        <div id="rightOptions">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class='my' href='{{ path('logout') }}'><i class="fas fa-sign-out-alt fa-2x"></i>Logout</a>
            {% else %}
                <a class="my" href="{{ path('login') }}"><i class="fas fa-user-circle fa-2x"></i>Connexion</a>
                <a class="my" href="{{ path('register') }}"><i class="fas fa-user-plus fa-2x"></i>Inscription</a>
            {% endif %}
            <a class="my" href="{{ path('cart') }}"><i class="fas fa-shopping-cart fa-2x"></i>My cart</a>
        </div>
    </div>

        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="row hide-on-med-and-down">
                    <li class="col"></li>
                    <li class="col"><a href="{{ path('recipes_index') }}" >Recipes</a></li>
                    <li class="col"><a href="{{ path('ingredients_index') }}">Ingredients</a></li>
                    <li class="col right"><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
        </nav>

    {% block body %}{% endblock %}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row ">
                <div class="col s8 offset-s2 l4 offset-l4" id="footerSocialMedia">
                    <p class="col s6">Follow us :</p>
                    <a class="col s2" href="#!"><i class="fab fa-twitter fa-2x circle"></i></a>
                    <a class="col s2" href="#!"><i class="fab fa-facebook-f fa-2x circle"></i></a>
                    <a class="col s2" href="#!"><i class="fab fa-instagram fa-2x circle"></i></a>
                </div>
            </div>
            <div class="row" id="footerInfos">
                <div class="col s12">
                    <a class="col s3" href="{{ path('about') }}">About</a>
                    <a class="col s3" href="{{ path('privacy_policy') }}">Privacy Policy</a>
                    <a class="col s3" href="#!">Sitemap</a>
                    <a class="col s3" href="#!">We hire !</a>
                </div>
            </div>
            <div class="copyright">
                © 2020 MealWith
            </div>
        </div>
    </footer>
{{ encore_entry_script_tags('base') }}

{% block javascripts %}{% endblock %}

</body>
</html>
