<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meal With{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>

    <div class="row">
        <a class="col s4 offset-s5 xl1 offset-xl10" href=""><i class="far fa-user-circle fa-2x"></i>My account</a>
        <a class="col s3 xl1" href=""><i class="fas fa-shopping-cart fa-2x"></i>My cart</a>
    </div>

    <nav>
        <div class="row">
            <a href="{{ path('home') }}" class="brand-logo left"><img src="{{ asset('pictures/Logo.svg') }}">MealsWith</a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li class="col offset-s3 offset-m4 offset-l3 offset-xl2"><a href="{{ path('recipes_index') }}" >Recipes</a></li>
                <li class="col"><a href="{{ path('ingredients_menu') }}">Ingredients</a></li>
                <li class="col push-s7 push-m7 push-l4 push-xl7 dropdown-trigger "><a>Contact</a></li>
            </ul>
        </div>
    </nav>

{% block body %}{% endblock %}

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}

</body>
</html>
