{% extends 'base.html.twig' %}

{% block title %}Validate{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('Cart') }}
{% endblock %}


{% block body %}
    <div class="container"><h1>Recap {{ user.firstname }}</h1></div>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.ingredient.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.ingredient.price }}€</td>
                    <td>{{ item.ingredient.price * item.quantity }}€</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="price">Total:</td>
                <td class="price">{{ total }}€</td>
            </tr>
            </tfoot>
        </table>

        {{ form_start(validatecartForm, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(validatecartForm.first_name, {'attr': {'value': user.firstname }}) }}
        {{ form_row(validatecartForm.last_name, {'attr': {'value': user.lastname }}) }}
        {{ form_row(validatecartForm.email, {'attr': {'value': user.email }}) }}
        {{ form_row(validatecartForm.zip_code, {'attr': {'value': user.zipcode }}) }}
        {{ form_row(validatecartForm.city, {'attr': {'value': user.city }}) }}
        {{ form_row(validatecartForm.address, {'attr': {'value': user.address }}) }}

        {{ form_end(validatecartForm) }}

    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('Cart') }}
{% endblock %}