{% extends 'base.html.twig' %}

{% block title %}Recipes Menu{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('RecipesMenu') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}

        <div class ="row">
            <div class="col s12 l3 category">
                <h1>Category</h1>
                <ul>
                    <li class="col s2 m2 l12 active"><a href="#">All</a></li>
                    <li class="col s3 m3 l12"><a href="#">Breakfast</a></li>
                    <li class="col s3 m3 l12"><a href="#">Dessert</a></li>
                    <li class="col s4 m4 l12"><a href="#">Main course</a></li>
                    <li class="col s3 offset-s2 m3 offset-m2 l12"><a href="#">Side dish</a></li>
                    <li class="col s3 m3 l12"><a href="#">Snack</a></li>
                    <li class="col s3 m3 l12"><a href="#">Soup</a></li>
                </ul>
            </div>

            <div class="col s12 l9 list">
                <div>
                    <div class="searchbar input-field">
                        <i class="material-icons prefix">search</i>
                        <label for="search" hidden>Search</label>
                        <input id="search" type="text" placeholder="type your search here...">
                    </div>
                </div>

                <div class="row items">
                    {% for recipe in recipes %}
                        <div class="col s6 l4">
                            <a href="{{ path('recipes_show', {'id': recipe.id}) }}" class="card-title">
                                <div class="card hoverable">
                                    <div class="card-image">
                                        <img src="/pictures/{{ recipe.picture }}" alt="{{ recipe.picture }}" >
                                    </div>
                                    <div class="card-action">
                                        {{ recipe.name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="pageSelection center-align col s8 offset-s2 m6 offset-m3 l6 offset-l3 xl4 offset-xl4">
                    <ul class="pagination">
                        <li class="ArrowPrevious disable"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                        {% for i in 0..page[0][1]/limit %}
                            <li class="waves-effect"><a href="{{ path('recipes_index', {'offset': 0}) }}">{{ i+1 }}</a></li>
                        {% endfor %}
                        <li class="ArrowNext"><a href="#"><i class="material-icons">chevron_right</i></a>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('RecipesMenu') }}
{% endblock %}
