{% extends 'base.html.twig' %}

{% block title %}Recipes details{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('RecipesDetails') }}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s3 center-align leftMenu">
            <h1>{{ recipe.name }}</h1>
            <img src="/pictures/{{ recipe.picture }}" alt="Picture of {{ recipe.name }}">
            <div class="col s12 navigationBtn">
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="#Instructions">Instructions</a>
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="#Ingredients">Ingredients</a>
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="#Comments">Comments</a>
            </div>
            <div class="col s12 backBtn">
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="{{ path('recipes_index') }}">Back to list</a>
            </div>
            <div class="col s12 CRUD">
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="{{ path('recipes_edit', {'id': recipe.id}) }}">edit</a>
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="">{{ include('recipes/_delete_form.html.twig') }}</a>
            </div>
        </div>

        <div class="col s9" id="details">
            <section class="section" id="Instructions">
                {#Section Instructions#}
                <h2>Instructions</h2>
                {% for i in 1..5 %}
                <div class="row">
                    <p class="col s1 instructionNumber">{{ i }}</p>
                    <p class="col s11 instructionContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto aspernatur beatae deserunt distinctio dolore, eius illo, ipsam, necessitatibus ratione saepe sint unde veniam voluptatem de veniam voluptatemde veniam voluptatemde veniam voluptatemde veniam voluptatem</p>
                </div>
                {% endfor %}
            </section>

            {#Section Ingredients#}
            <section class="section" id="Ingredients">
                    <h2>Ingredients</h2>
                <div class="row">
                    <div class="col s2 recipeNbPerson valign-wrapper ">
                        <button class="col s3 btnLess">-</button>
                        <input class="col s3 inputNbPerson" type="text" placeholder="3" value="3">
                        <button class="col s3 btnMore">+</button>
                    </div>
                </div>
                <div class="row">
                    {% for ingredient in recipe.ingredients %}
                    <div class="col s8 ingredientItem valign-wrapper">
                        <img class="col s4" src="{{ asset('pictures/'~ ingredient.ingredient.picture) }}" alt="Picture of {{ ingredient.ingredient.name }}">
                        <p class="col s4 ingredientName left-align">
                            <span><a href="{{ path('ingredients_show', {'id': ingredient.ingredient.id}) }}">{{ ingredient.ingredient.name }}</a></span> - <span id="qte"><b>{{ ingredient.quantity }}</b></span> <b>{{ ingredient.unit }}(s)</b>
                        </p>
                        <div class="col s2 ingredientQte valign-wrapper">
                            <button class="col s3 btnLess">-</button>
                            <input class="col s3" type="text" placeholder="{{ ingredient.quantity }}" value="{{ ingredient.quantity }}">
                            <button class="col s3 btnMore">+</button>
                        </div>
                        <div class="col s2">
                            <button class=" col s12 btnCart"><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col s8 ingredientItem">
                        <button class="col s2 offset-s10 btnCart">Add all to cart</button>
                    </div>
                </div>
            </section>

            {#Section Comments#}
            <section class="section" id="Comments">
                <h2>Comments</h2>
                <div class="row">
                    {% for i in 1..9%}
                        <div class="col s12 commentUser valign-wrapper">
                            <img class="col s1 userImg" src="{{ asset('pictures/user'~loop.index~'.png')}}" alt="User photo">
                            <div class="col s11">
                                <div class="col s12 userRating">
                                    <img src="{{ asset('pictures/RatingStarFullIcon.svg') }}"  alt="Rating start full">
                                    <img src="{{ asset('pictures/RatingStarFullIcon.svg') }}"  alt="Rating start full">
                                    <img src="{{ asset('pictures/RatingStarFullIcon.svg') }}"  alt="Rating start full">
                                    <img src="{{ asset('pictures/RatingStarEmptyIcon.svg') }}"  alt="Rating start empty">
                                    <img src="{{ asset('pictures/RatingStarEmptyIcon.svg') }}"  alt="Rating start empty">
                                </div>
                                <p class="commentContent left-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi iste iure nulla odit repellat ullam. Ad beatae labore molestias nemo quam repellendus sed voluptatem?</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('RecipesDetails') }}
{% endblock %}
